@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("../assets/img/abic-background.png");
    /* background: url("../assets/img/wave.svg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;

}
img {
    width: 100%;
}




.card {
    background-color: transparent;
    width: 100%;
    border: none;
}

.profile img {
    width: 250px;
    height: 250px;
    margin: 64px 0px 32px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.profile .name {
    color: #101720;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.9;
    text-transform: uppercase;
}

.position {
    font-size: 24px;
    margin-bottom: 32px;
    color: #352f36;
}
.desc{
    margin-bottom: 32px;
}

.desc h5{
    font-size: 16px;
   
}

.social-media {
    display: flex;
    justify-content: center;
}


.social {
    margin: 8px;
    transition: ease-in-out .2s;
}

.social:hover{
    transform: scale(1.5);
}

.social img {
    width: 48px;
   
}

.company img {
    width: 130px;
    padding: 8px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
}
.top-title {
    font-weight: bold;
    text-transform: uppercase;
}

